body {
  margin: 0;
}

/* '.' means class */
.cesium {

 /* 
  position: static;   
  position: relative;   
 */

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; /* コンテンツのはみ出しを非表示にする */
}
